body {
  font-family: "Press Start 2P", cursive;
  background-color: #4da7a9;
  background-image: linear-gradient(
      to bottom,
      rgba(rgb(204, 198, 198), 0.9),
      rgba(rgb(211, 204, 204), 0.6)
    ),
    url("./assets/images/backgroundImage5.jpg");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
