@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #4da7a9;
  background-image: url("./assets/images/backgroundImage5.jpg");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
